.kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
  }
  
  .kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
  }
  .tiro-devanagari-hindi-regular {
    font-family: "Tiro Devanagari Hindi", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .tiro-devanagari-hindi-regular-italic {
    font-family: "Tiro Devanagari Hindi", serif;
    font-weight: 400;
    font-style: italic;
  }
  body{
    font-size: calc(16px + 0.5vw);
  }
  .subContainer{
    padding: 20px;
  }

  .greetings, .details p {
    font-size: calc(18px + 0.3vw);
  }
  @media (max-width: 1024px) {
    .subContainer,
    .containerHindi {
      padding: 20px;
      width: 90%;
    }
  }
  
  @media (max-width: 768px) {
    .subContainer,
    .containerHindi {
      padding: 20px;
    }
  }

  @media (max-width: 768px) {
    .Developments {
      flex-direction: column;
      align-items: center;
    }

    .introduction {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 480px) {
    .subContainer,
    .containerHindi {
      padding: 20px;
      width: 400px;
    }
  }
  #nameImage, #picture, #nameImageFooter {
    width: 100%;
    max-width: 300px;
  }

  .coverImageBlogs, .coverImageProjects {
    width: 100%;
    height:auto ;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Tiro Devanagari Hindi", serif;
    font-weight: 700;
    font-size: large;
  }
  
  .containerHindi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans Devanagari', sans-serif;
    font-weight: 700;
    font-size: large;
  }
  
  .subBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
  }

  .hindiPage,
  .englishPage {
    border: 1px solid #333;
    border-radius: 20px;
    color: #888;
    padding: 10px 20px;
    text-align: center;
    background-color: white;
    box-sizing: inherit;
    margin-left: 5px;
    font-weight: 700;
  }
  
  .hindiPage {
    background-color: #333;
    color: white;
  }
  
  .englishPage:hover {
    border: 1px solid #1a202c;
    color: #1a202c;
    background-color: #f6f7fb;
  }
  
.header {
    width: 800px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
#nameImage {
  object-fit: contain;
  border: none;
  width: 300px;
  }
.hindi,
.english {
  border: 1px solid #333;
  border-radius: 20px;
  color: #888;
  padding: 10px 20px;
  text-align: center;
  background-color: white;
  box-sizing: inherit;
  margin-left: 5px;
  font-weight: 700;
}
.english {
  background-color: #333;
  color: white;
}
.hindi:hover{
  border: 1px solid #1a202c;
  color: #1a202c;
  background-color: #f6f7fb;
}

.leftContent {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 100%;
  padding: 64px 64px;
}
.introduction {
  width: 800px;
  display: flex;
  background-color: #f6f7fb;
  border-radius: 50px;
  margin-bottom: 30px;
}
#picture{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 25%;
}
#work {
  margin: -15px 0px -15px 0px;
}

.box {
  width: 800px;
  height: 52px;
  display: flex;
  background-color: #f6f7fb;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: large;
}

#Resume {
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  height: 50px;
  width: 200px;
  border: 1px solid #999;
  color: #999;
  border-radius: 32px;
}
#Resume:hover {
  border: 1px solid #1a202c;
  color: #1a202c;
  background-color: #f6f7fb;
}


.footer {
  text-align: center;
  width: 800px;
}

#nameImageFooter {
  object-fit: contain;
  border: none;
  width: 117px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  vertical-align: baseline;
  margin-bottom: -50px;
}

.details {
  font-weight: 700;
  
}
.connect {
  margin-bottom: 40px;
}

.coverImageProjects {
  border: 3px solid #f6f7fb;
  border-radius: 16px;
  height: 400px;
  width: 300px;
  margin: 16px 0px 16px 0px;
}
.coverImageBlogs {
  border: 3px solid #f6f7fb;
  border-radius: 16px;
  height: 180px;
  width: 300px;
  margin: 16px 0px 16px 0px;
}

.song {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.songBox {
  border: 3px solid #f6f7fb;
  border-radius: 16px;
  height: 300px;
  width: 300px;
  margin: 16px 0px 16px 0px;
}

.greetings {
  font-size: 2rem;
  font-weight: bold;
  width: 700px;
  height: 40px;
  justify-content: left;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: -80px;
}

.typing::after {
  color: #1a202c;
  content: '|';
  animation: blink 0.5s infinite step-start;
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}

.Developments{
  display: flex;
  box-sizing: inherit;
  width: 800px;
}
.detail {
  width: 500px;
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  margin-left: 50px;
}

#projectName{
  line-height: 24px;
  margin: 40px 0 30px;
  color: black;
  text-align: center;
}
#text{
  font-weight: 300;
}

.github{
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: white ;
  border: 1px solid #cdcdcd;
}
.github:hover {
  background-color: #ececec;
}